<!-- <section>
  <footer>
    <div class="footer-content">
        <h3>code opacity</h3>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illo iste corrupti doloribus odio sed!</p>
        <ul class="socials">
            <li>
              <a href="https://www.linkedin.com/in/sarah-santana-de-morais-1a2aaa277/" class="social-link">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </li>

            <li>
              <a href="https://github.com/SarahSSM1?tab=repositories" class="social-link">
                <i class="fab fa-github"></i>
              </a>
            </li>

            <li>
              <a href="mailto:sarah.santana.morais1@gmail.com" class="social-link">
                <i class="fa-regular fa-envelope"></i>
              </a>
            </li>
        </ul>
        <p> <> by <span>nethunt</span> 2023</p>
    </div>
 </footer>
</section> -->

<footer class="footer">
  <div class="container">
    <ul class="social-list">
      <li>
        <a href="https://www.linkedin.com/in/sarah-santana-de-morais-1a2aaa277/" class="social-link">
          <i class="fab fa-linkedin-in"></i>
        </a>
      </li>
      <li>
        <a href="https://github.com/SarahSSM1?tab=repositories" class="social-link">
          <i class="fab fa-github"></i>
        </a>
      </li>

      <li>
        <a href="mailto:sarah.santana.morais1@gmail.com" class="social-link">
          <i class="fa-regular fa-envelope"></i>
          </a>
      </li>
    </ul>
    <p class="text-center"> <> by <span href="">SarahSSM1</span> 2023</p>
  </div>
</footer>


