* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Fira Code', Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
}

a {
  text-decoration: none;
  color: #000;
}

//do a reset css


